[Desktop Entry]
Type=Application
Name=Harmonic
Comment=Harmonic desktop app
Exec=harmonic
Icon=harmonic
Terminal=false
Categories=AudioVideo;Audio;Utility;
StartupNotify=true
