[Desktop Entry]
Type=Application
Name=Spectrum
Comment=Spectrum desktop app
Exec=spectrum
Icon=spectrum
Terminal=false
Categories=AudioVideo;Audio;Utility;
StartupNotify=true
